*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

html{
   scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', serif;
  color: white;
  background-color: hsl(206, 100%, 93%);
}
a {
  text-decoration: none;
  cursor: pointer;
  
}
a:visited{
  text-decoration-color: #0a26fa;
}
.wrapper {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 300px 350px 350px;
  justify-content: center;
  row-gap: 3%;
}
#bg-img{

  height: 100%;
  width: 100%;
  border-radius: 100px;
  opacity: .1;
  grid-column: 1/ span 3;
  grid-row: 2/span 3;
  filter: invert(100%);
}

#nav-bar{
  position: fixed;
  display: grid;
  grid-template-column: 20% 60% 20%;
  height: 65px;
  width: 100%;
  background: black;
  text-align: left;
  padding-top: 20px;
  top: 0;
 z-index: 6; 
}

#nav-bar > h1{
  grid-column: 1;
  font-size: 30px;
  margin-left: 10%;
}
#modalBtn{
  grid-column: 3;
  width: 10%;
  height: 100%;
  margin-left: 50%;
}
#modalBtn:hover{
  cursor: pointer;
}
.nav-link > hr{
  margin-left: auto;
  margin-right: auto;
}
#top{
  border-bottom: 3px solid white;
  margin-top: 10%;
  width: 80%;
}
#middle{
  border-bottom: 1px solid white;
  margin-top: 15%;
  width: 80%;
}
#bottom{
  border-bottom: 3px solid white;
  margin-top: 15%;
  width: 80%;
}
.modal{
  position: fixed;
  display: none;
  z-index: 6;
  width: 20%;
  height:40%;
  margin-left: 65%;
  margin-top: 65px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  opacity: 0;
}

.close {
  grid-row: 1;
  grid-column: 3;
  color: #0598fa;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
}
i:hover{
  color: white;
}

.close:hover,
.close:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
}
.modal-content{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 15% 28.33% 28.33% 28.33%;
  justify-content: center;
}
#aboutMenu{
  grid-row: 2;
  grid-column: 1/ span 3;
  border-bottom: 1px solid grey;
}
#projectsMenu{
  grid-row: 3;
  grid-column: 1/ span 3;
  border-bottom: 1px solid grey;
}
#contactMenu{
  grid-row: 4;
  grid-column: 1/ span 3;
}
.menu-border{
  
  
}
.menu-header{
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  margin-top: 6%;
  font-size: 20px;
  color: #0598fa;
}
.menu-border:hover{
  background: white;
  color:#0598fa;
}
.menulinks:hover{
  color:#0598fa;
  cursor: pointer;
}
.menulinks{
  font-size: 20px;
  font-weight: bold;
  color: #e6f5ff;
  text-align: left;
  margin-top: 10%;
  padding-left: 10%;
}
.icon{
  margin-right: 5%;
  color:#0598fa;
}
#welcome_section{
  height: 100vh;
  overflow: hidden;
  z-index: 1; 
  background-image: url("https://img.freepik.com/premium-photo/abstract-blue-sound-wave-black-background_106885-3594.jpg?w=996");
  border: 0px 0px  5px 0px solid;
  box-shadow: 5px 5px 10px  grey;
 
}

.welcome-text{
  text-align: center;
  margin-top: 5%;
}
.welcome-text > h1{
  font-size: 120px;
  margin-bottom: 14%;
}
.welcome-text > p{
  font-size: 40px;
}
.welcome-audio{
  width: 100%;
  height: 25vh;
  border-top: 20px solid grey;
  border-left: 20px solid black;
  border-bottom: 15px solid grey;
  border-right: 20px solid black;
  margin-top: 7%;
  background: black;
  border-style: outset;
  display: grid;
  grid-template-columns: 5% 95%;
  
}
.audio-block{
  width: 50%;
  height: 60%;
  border-radius: 5px;
  background: #0598fa;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  box-shadow: 5px 10px 50px 5px #0598fa;
  animation: volfadeIn 1s infinite;
}
.audio-container{
  grid-column: 2;
  height: 100%;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-column: 20% 60% 20%;
  grid-template-row: repeat(4, 25%);
}
.ticks{
  grid-column: 1;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.tick-full{
  border-bottom: 3px solid grey;
  width: 100%;
  margin-top: 10%;

}
.tick-half{
  border-bottom: 3px solid grey;
  width: 50%;
  margin-top: 50%; 
}
.full-space{
  margin-top: 50%;
}
.b1{
  grid-column: 3;
  grid-row: 3;
  animation-delay: .9s
  
}
.b2{
  grid-column: 3;
  grid-row: 1;
  animation-delay: 1s;
}
.b3{
  grid-column: 1;
  grid-row: 4;

}
.b4{
  grid-column: 2;
  grid-row: 4;
  animation-delay: .5s
}
.b5{
  grid-column: 2;
  grid-row: 3;
  animation-delay: .6s
}
.b6{
  grid-column: 2;
  grid-row: 2;
  animation-delay: .7s
}
.b7{
  grid-column: 3;
  grid-row: 2;
  animation-delay: 2.5s
}
.b8{
  grid-column: 3;
  grid-row: 4;
  animation-delay: .8s
}
.b9{
  grid-column: 4;
  grid-row: 3;
  animation-delay: 1.2s
}
.b10{
  grid-column: 4;
  grid-row: 4;
  animation-delay: 1.1s
}
.border1{
  grid-column: 1;
  grid-row: 2/ span 3;
  border-right: 2px solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #222224, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.border2{
  grid-column: 2;
  grid-row: 2/ span 3;
  border-right: 2px solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #222224, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.border3{
  grid-column: 3;
  grid-row: 2/ span 4;
  border-right: 2px solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #222224, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.border4{
  grid-column: 4;
  grid-row: 2/ span 4;
  border-right: 2px solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #222224, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.mixer{
  grid-column: 1/ span 3;
  grid-row: 1;
  display: grid;
  height: 100%;
  row-gap: 5%;
  grid-template-columns: repeat(3,25%) repeat(2,12.5%);
  grid-template-rows: 20% 15% 5% 60%;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background: #303238;
  font-family: 'Orbitron', serif;
  border: 2px outset #303238;
  padding-bottom: 2%;
  padding-top: .5%;
  padding-left: .5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px  grey;
}

.vh{
  grid-column: 5;
  grid-row: 2/ span 3;
  display: block;
}
.vhr{
  grid-column: 5;
  grid-row: 2/ span 3;
  display: block;
}
hr.vol_hash{
  border-top: 1px solid;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width: 5%;
  height: 5%;
  margin-left: 10%;
  margin-bottom: 15%; 
}
hr.vol_hashr{
  border-bottom: 0px;
  border-top: 1px solid;
  border-left: 0px;
  border-right: 0px;
  width: 5%;
  height: 5%;
  margin-left: 80%;
  margin-bottom: 15%; 
}
h3{
  text-align: center; 
}
#projects > h1, #about > h1{
  color: #0598fa;
  text-align: center;
  margin-bottom: 3%;
  font-size: 50px;
}
h4{
  text-align: center;
  margin-bottom: 3%;
  color: #0598fa;
}
.left_vol{
  width: 20%;
  background: black;
  background-image: linear-gradient( red, yellow, green );
  margin-left: 10%;
  margin-right: 0;
  height: 100%;
  display: inline-block; 
}
.right_vol{
  width: 20%;
  background-image: linear-gradient( red, yellow, green );
  margin-right: 10%;
  margin-left: auto;
  height: 100%; 
  display: inline-block;
}
.mixer_header{
  grid-column: 1/ span 4;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  grid-row: 1;
  color: #0598fa;
  border-radius: 5px;
  border-color: #26282b;
  border-style: inset;
  background: black;
  row-gap: 1%;
  justify-content: center; 
}
.mixer_header > p{
  font-size: 30px;
}
.logo{
  grid-column: 5;
  grid-row: 1;
  color: #0598fa;
  font-size: 30px;
}
.active{
  width: 5%;
  height:130%;
  border-radius: 100%;
  float: right;
  grid-row: 3;
  margin-left: auto;
  margin-right: auto;
  
}
.smaller{
  font-weight: 5px;
}
.a1{
  grid-column: 1;
  background: grey;
}
.a2{
  grid-column: 2;
  background: grey;
}
.a3{
  grid-column: 3;
  background: grey;
}

.label{
  border-radius: 8%;
  border-color: #26282b;
  border-style: inset;
  background: #71797E;
  color: black;
  font-weight: bold;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  grid-row: 2;
  height: 80%;
  
  
}
.space{
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.smaller{
  font-size: 80%; 
}


ul li {
    margin-bottom: 1%;
    font-size: 20px;
}

.button{
  background: #26282b;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  border-radius: 5px;
  box-shadow:   2px 3px black;
  grid-row: 4;
  cursor: pointer;
}

.about_button{
  grid-column: 1;
  color: #71797E;
}
.about_label{
  grid-column: 1;
  
}
.projects_button{
  grid-column: 2;
  color: #71797E;
}
.projects_label{
  grid-column: 2;
 
}

.contact_button{
  grid-column: 3;
  color: #71797E;
}
.contact_label{
  grid-column: 3; 
}
.knob_label{
  grid-column: 5;
  grid-row: 2/ span 4;
  width: 40%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  border-color: #26282b;
  border-style: inset;
  background: black;
}

.fader::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 30px;
  border-radius: 3px;
  background: #71797E;
  cursor: pointer;
  box-shadow:  3px 0px 3px 1px black;
}
.master{
  margin-top: 50%;
  font-size: 80%;
}
#fader{
  transform: rotate(90deg);
  width: 100%;
  margin-top: 70%;
  height: 5px;
  border-radius: 5px;
  border-style: inset;
  border: 2px solid #26282b;
  z-index: 3;
  background: black;
  -webkit-appearance: none;
}
.mixer_fader{
  grid-column: 4;
  grid-row: 2/ span 4;
  width: 60%;
  margin-left: 20%;
}

.center{
  text-align: center;
  margin-top: 3%;
}

.project-img{
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

#about{
  grid-column: 1/ span 3;
  grid-row: 2;
  height: 100%;
  visibility: hidden;
  color: black;
}
ul{
  margin-bottom: 5%;
}
.skills{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 650px;
}
label{
  display: inline-block;
}
.skill{
  border: 1px solid grey;
  height: 100px;
  width: 50px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 10px;
  z-index: 1;
  
}
.html-bg{
  width: 100%;
  height:80%;
  background: #0598fa;
}
#skill-HTML{
 background: linear-gradient(rgba(0,0,0,0) 20% ,rgba(5, 152, 250, 1) 80%);
  margin-right: 20px;
 
}
#skill-Javascript{
   background: linear-gradient(rgba(1, 83, 138, 0) 50% ,rgba(1, 83, 138, 1) 50%);
}
#skill-Java{
  background: linear-gradient(rgba(77, 183, 255, 0) 50% ,rgba(77, 183, 255, 1) 50%);
}
#skill-SQL{
  background: linear-gradient(rgba(2, 110, 184, 0) 50% ,rgba(2, 110, 184, 1) 50%);
}
#skill-CSS{
  background: linear-gradient(rgba(106, 143, 168, 0) 25% ,rgba(106, 143, 168, 1) 75%);
}
.skill > p{
  text-align: center;
  margin-top: 100%;
  z-index: 2;
  color: white;
}
.flip-card {
 background-color: transparent;
 width: 320px;
 height: 200px;
 perspective: 1000px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 320px;
 height: 200px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card:hover .flip-card-inner {
 transform: rotateY(180deg);
  border-radius: 5px;
  
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 320px;
 height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-back {
 background-color: #303238;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.flip-card-back > h4, .flip-card-back > p, .flip-card-back > button{
  margin-top: 20px;
}
.flip-card-back > button{
  margin-top: 20px;
  width: 50%;
  height: 20%;
  border-radius: 5px;
  background-color: #303238;
  color: #0598fa;
  border: 1px solid #0598fa;
  cursor: pointer;
}
.flip-card-back > button:hover{
  background: white;
}
#projects{
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  visibility: hidden;
  height: 100%;
  margin-bottom: 5%;
  display: grid;
  grid-template-column: repeat(3, 33.3%);
  grid-template-rows: 20% 80%;
  column-gap: 10px;
  margin-top: 5%;
}
#proj-header{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}


.proj1{
  grid-column: 1;
  grid-row: 2;
 
}
.proj2{
  grid-column: 2;
  grid-row: 2;
}
.proj3{
  grid-column: 3;
  grid-row: 2;
  
}

#projects > label {
  padding-top: 15px;
}
#contact{
  grid-column: 2;
  grid-row: 4;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(4, 25%);
  font-size: 25px;
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
  row-gap: 20px;
}
#linkedin{
  grid-column: 1;
  grid-row: 2;
  color: #0598fa;
}
#git{
  grid-column: 2;
  grid-row: 2;
  color: #0598fa;
}
#email{
  grid-column: 3;
  grid-row: 2;
}

.animated_fadeIn{
  animation: fadeIn 1s ;
 
}
.about_border{
  opacity: 0;
}
.p_border{
  opacity: 0;
}
.c_border{
  opacity: 0;
}
.rotateMenuOpenClass{
  animation: rotateMenuOpen 2s;
}
.rotateMenuCloseClass{
  animation: rotateMenuClose 2s;
}
.animated_fadeOut{
  animation: fadeOut 1s ;
}
.animated_border{
  transform-origin: 0 0;
  animation: borderAnimation .5s;
}
.animated_skills{
  animation: skillsAni 2s; 
}
label{
  margin-top: 3%;
  text-align: center;
  font-size: 30px;
}
#contact > h4{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
@keyframes rotateMenuOpen{
  from{
    
    transform: rotate(180deg);
    
  }
  to{
    
    transform: rotate(0deg); 
  }
}
@keyframes rotateMenuClose{
  from{
    transform: rotate(180deg);
   
  }
  to{
    
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes volfadeIn {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes skillsAni{
  from{height: 0px;}
  to{height: 100px;}
}
@keyframes arrowAni {
  from {font-size: 20px;}
  to {font-size: 60px;}
}
@keyframes borderAnimation {
   0% {
     opacity: .8;
     width: 10%;
     border-top: 1px solid orange;
  }
  25% {
    opacity: .6;
    width: 25%;
     border-top: 2px solid orange;
  }
  50%  {
    opacity: .4;
    width: 50%;
     border-top: 2px solid orange;
  }
  75%  {
    opacity: .2;
    width: 75%;
     border-top: 2px solid orange;
  }
  100% {
    opacity: 0;
    width: 100%;
     border-top: 2px solid orange;
  }
}

.curtain{
  width: 20%;
  height: 84%;
  background: black;
  z-index: 4;
  grid-column: 5;
  grid-row: 2/ span 4;
  margin-left: 40%;
  border: 1px solid black;
}

@media only screen and (max-width: 480px){
  html, body {
  height: 100%;
  overflow-x: hidden;
}
  
  #top, #middle, #bottom{
     margin: 5% 0 0 50%; 
     width: 30%;
  }
 
  #modalBtn{
    width: 70%;
    height: 100%;
    margin: 5% 0 0 10%;
    grid-column: 2;
  }
  .modal{
    margin-left: 5%;
  }
  #nav-bar{
    display: fixed;
    padding: 0;
    background-color: rgba(0,0,0,0.8);
    grid-template-columns: 60% 40%;
    height: 60px;
    width: 100vw;
  }
  #nav-bar > h1{
    font-size: 30px;
    margin: 4% 0 0 2%;
  }
  #welcome_section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23000000' stroke-width='0.7' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(42.55) translate(-976.5 -732.37)'%3E%3Cuse fill='%23242424' href='%23s' y='2'/%3E%3Cuse fill='%23242424' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23333333' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23333333' href='%23s'/%3E%3Cuse fill='%233e3e3e' href='%23s' x='2'/%3E%3Cuse fill='%233e3e3e' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(42.55) translate(-976.5 -732.37)'%3E%3Cg fill='%23484848'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(42.55) translate(-976.5 -732.37)'%3E%3Cg fill='%23484848'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(42.55) translate(-976.5 -732.37)'%3E%3Cg fill='%23515151'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(42.55) translate(-976.5 -732.37)'%3E%3Cg fill='%23000000'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23585858'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(42.55) translate(-976.5 -732.37)'%3E%3Cg fill='%230598FA'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(42.55) translate(-976.5 -732.37)'%3E%3Cg fill='%230598FA'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(42.55) translate(-976.5 -732.37)'%3E%3Cg fill='%230598FA'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
  .welcome-text{
    margin-top: 30%;
    width: 100%;
    height: 80%; 
  }
  .welcome-text > h1 {
    font-size: 45px; 
}
  .welcome-text > p{
    font-size: 25px; 
    color: white;
    font-weight: bold;
}
  .welcome-audio{
    height: 120px;
    border-top: 10px solid grey;
    border-left: 10px solid black;
    border-bottom: 5px solid grey;
    border-right: 10px solid black;
  }
  .top-tick{
    margin-top: 5%;
  }
  .tick-full{
    border-bottom: 3px solid grey;
    width: 100%;
    margin-top: 100%;

}
.tick-half{
  border-bottom: 3px solid grey;
  width: 50%;
  margin-top: 100%; 
}
.full-space{
  margin-top: 100%;
}
  .skills{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100%;
} 
}
